body{
    margin:0;
    background-image: url(pictures/jungle2.jpg);
    background-position:100% 0%;
    font-family: 'Raleway', sans-serif;
}
header{
    color: #ffffff;
    background-color: #006600ec;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
header h1{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 0px; 
}
header p{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin-top: -5px;
}
.nav{
    background-color: #648b6498;
    display: flex;
    justify-content: center;
}
.nav p{
    margin: 10px;
}
a{
    color: #ffffff;
}
.container{
    width: 100%; 
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #ffffffe0;
}
h1, h3{
    margin: 0;
}
.photo{
    width: 300px;
    height: 300px;
}
.description{
    width: 300px;
    height: 400px;
}

/*bas de page*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: right;
    padding-top:50px;
    height:50px;
}