body{
    margin:0;
    background-image: url(pictures/jungle2.jpg);
    background-position:100% 0%;
    font-family: 'Raleway', sans-serif;
}
header{
    color: #ffffff;
    background-color: #006600ec;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
header h1{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 0px; 
}
header p{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin-top: -5px;
}
/*contenu formulaire*/
.fond{
    width: 100%; 
    padding: 10px 0 10px 0;
    justify-content: center;
    background-color: #c6e9d2ab;
}
main{
    width:60%;
    margin:0 auto;
    
}
form {
    width:100%;
    padding:10px 20px 0 20px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.nav{
    background-color: #648b6498;
    display: flex;
    justify-content: center;   
}
.nav p{
    margin: 10px;
    color: #ffffff;
}
input[type=text], input[type=password], input[type=email],  input[type=date]{
    width: 100%;
    padding: 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* style du bouton */
input[type=submit] {
    background-color: #006600;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #006600;
    border: 1px solid #006600;
}
/*bas de page*/
footer{
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: right;
    padding-top:50px;
    height:50px;
}